{{ define "main" }}
    <div class="homepage-content">
        {{ .Content }}
    </div>

    <article class="post-list">
        <ul> 
            {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
            {{ range (.Paginate $pages).Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
        <!--         {{ if .Truncated }}
                    <div class="read-more">
                        <a href="{{ .RelPermalink }}">{{ i18n "readMore" | humanize }}</a>
                    </div>
                {{ end }} -->
                
                {{ partial "articleInfoFull.html" . }}
            {{ end }}
        </ul>
    </article>

{{ end }}
